.header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    /* width: 100%; */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0,  0, 0, 0.06);
}
.logo{
    height: 10vh;
    margin-right:10px;
}
.title{
    font-size: 2rem;
    font-weight: 20;
    color:black;
}