.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    margin-top: 60px;
    padding: 10px 30px;
}
.form{
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* width: 450px; */
   
}
.inputtype{
    height: 38px;
    /* width: 300px; */
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 1rem;
    flex-grow: 1;
    min-width: 15px;
    max-width: 500px;
}
.btn{
     font-family: Inter, sans-serif;
    height: 38px;
    /* width: 17%; */
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* flex-grow: 1; */
}